<table class="table-condensed">
  <thead>
    <tr>
      <th>
        <a class="btn btn-sm" href="<%= datePicker.prevUrl %>">«</a>
      </th>
      <th class="text-center" colspan="5"><%= datePicker.formattedDate %></th>
      <th>
        <a class="btn btn-sm" href="<%= datePicker.nextUrl %>">»</a>
      </th>
    </tr>
    <tr>
      <th class="text-center">Su</th>
      <th class="text-center">Mo</th>
      <th class="text-center">Tu</th>
      <th class="text-center">We</th>
      <th class="text-center">Th</th>
      <th class="text-center">Fr</th>
      <th class="text-center">Sa</th>
    </tr>
  </thead>
  <tbody>
    <% datePicker.weeks.forEach(function(week) { %>
    <tr>
      <% week.days.forEach(function(day) { %>
      <td data-day="01/26/2020">
        <a href="<%= day.url %>"
          class="btn btn-sm btn-block text-center <%= day.selected ? "btn-dark" : "" %>"><%= day.day %></a>
      </td>
      <% }) %>
    </tr>
    <% }); %>
  </tbody>
</table>