<div class="row">
  <div class="col flex-grow-0">
    <div class="h2 m-0"><%= day %></div>
    <div class="h6 m-0"><%= month %></div>
  </div>
  <div class="col">
    <div class="font-weight-light"><%= userName %></div>
    <div class="text-muted">
      <span><%= serviceName %></span>
      <span>·</span>
      <span><%= time %></span>
    </div>
  </div>
</div>
