<div class="pt-3">
  <div class="row">
    <div class="col flex-grow-0">
      <img src="<%= avatarUrl %>" alt="<%= name %>" class="rounded d-block mb-3" width="256" height="256">
      <h5 class="h5"><%= name %></h5>
      <p>Adress</p>
      <% if (settingsUrl) { %>
      <a href="<%= settingsUrl %>" class="btn btn-outline-secondary btn-block">Settings</a>
      <% } %>
    </div>
    <div class="col">
      <h6 class="h6 mb-3">Create appointment</h6>

      <% if (services.length === 0) { %>
      <div class="text-center">Hm, looks like all is booked</div>
      <% } %>

      <% services.forEach(function(service) { %>
      <div class="border rounded p-2 pb-0 mb-3">
        <h6 class="m-0"><%= service.name %> · <span class="text-muted"><%= service.price %></span></h6>

        <p class="mb-3 text-muted small"><%= service.description %></p>

        <div class="d-flex flex-wrap">
          <% service.slots.forEach(function(slot) { %>
          <a href="<%= slot.url %>" class="btn btn-sm btn-outline-primary mr-2 mb-2"
            title="<%= slot.title %>"><%= slot.text %></a>
          <% }) %>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>