<div class="position-relative bg-light">
  <div class="container">
    <div class="d-flex py-3">
      <!-- <div class="mr-2">
          <img src="https://solidolbarbers.com/images/logos/logo.black.svg" class="rounded bg-dark" width="150">
        </div> -->

      <div>
        <h4 class="mb-0"><%= business.name %></h4>
        <address class="text-muted mb-0">TBD</address>
      </div>

      <!-- <div>
          <button class="btn btn-block btn-primary">Reserve</button>
        </div> -->
    </div>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/p/<%= business.id %>">Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/p/<%= business.id %>/masters">Masters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/p/<%= business.id %>/settings">Settings</a>
      </li>
    </ul>
  </div>
</div>

<main role="main" class="container pt-3">
  <%- body %>
</main>
