<div class="h5">
  <span><%= serviceName %></span> · <span class="text-muted"><%= servicePrice %></span>
</div>

<div>
  <a href="#" class="text-secondary"><%= assignee.name %></a> · <a href="#" class="text-secondary"><%= organization.name %></a>
</div>

<div><%= date %></div>

