<h3 class="mb-3"><%= name %></h3>

<% services.forEach(function(service) { %>
<div class="border rounded p-2 pb-0">
  <h6 class="m-0"><%= service.name %> · <span class="text-muted"><%= service.price %></span></h6>

  <p class="mb-3 text-muted small"><%= service.description %></p>

  <div class="d-flex flex-wrap">
    <% service.slots.forEach(function(slot) { %>
    <a href="<%= slot.url %>" class="btn btn-sm btn-outline-primary mr-2 mb-2"
      title="<%= slot.title %>"><%= slot.text %></a>
    <% }) %>
  </div>
</div>
<% }) %>
