<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <%_ styles.forEach(function(style) { -%>
  <link rel="stylesheet" href="<%= style %>">
  <%_ }) -%>
</head>

<body>
  <%- body -%>

  <%_ scripts.forEach(function(script) { -%>
  <script src="<%= script %>"></script>
  <%_ }) -%>
</body>

</html>
