<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center py-2">
    <span>Services</span>
    <a href="<%= addUrl %>" class="btn btn-sm btn-success">Add service</a>
  </div>
  <div class="list-group list-group-flush">
    <% services.forEach(service => { %>
    <a href="<%= service.url %>" class="list-group-item list-group-item-action">
      <div class="text-dark font-weight-bold"><%= service.name %></div>
      <% if (service.description) { %>
      <div class="text-dark"><%= service.description %></div>
      <% } %>
      <div class="text-muted">Price <%= service.price %></div>
      <div class="text-muted">Duration <%= service.duration %></div>
    </a>
    <% }) %>
  </div>
</div>